<div fxLayout="column">
    <div fxFlex="60%">
        <h1>Welcome New User</h1>
        <p>
            This is the demo for the Calypso / DARCs hands-on training from
            <a href="https://c4dt.org">C4DT.org</a>.
        </p>
        <p>
            If you have an account, please create a new device on
            <a href="https://demo.c4dt.org/omniledger/admin/devices">OmniLedger-demo</a>
            and copy the URL in
        </p>
        <pre>
        src/app/app.component.ts:

            const device = ""
        </pre>
    </div>
</div>
