<h1>Hands-on console</h1>

<p>Hello {{user.credStructBS.credPublic.alias|async}}, here some information about you:</p>
<ul>
    <li>CredentialID: {{user.credStructBS.id.toString('hex')}}</li>
    <li>Coins: {{(user.coinBS | async).value}}</li>
    <li>Signer darc ID: {{user.credSignerBS.getValue().getBaseID().toString('hex')}}</li>
</ul>

<button mat-raised-button (click)="buttonPrintInstance()">Print Instance</button>
<button mat-raised-button (click)="buttonCreateWrite()">Create Calypso-Write</button>
<button mat-raised-button (click)="buttonCreateRead()">Read Calypso</button>
<button mat-raised-button (click)="buttonSendCoin()">Send Coin</button>
<button mat-raised-button (click)="buttonCreateValue()">Create Value</button>
<button mat-raised-button (click)="buttonUpdateValue()">Update Value</button>
<button mat-raised-button (click)="buttonUpdateLTS()">Update LTS</button>

<p>Here you see the output of what you're writing in the handson.component.ts:</p>
<pre>{{logLines}}</pre>
